{
  "presets": [
    ["@babel/preset-env", {
      "bugfixes": true,
      "useBuiltIns": false,
      "shippedProposals": true
    }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
