.DS_Store

## Installed dependencies
node_modules/

## Typescript's output & definition files
dist/

## Parcel's disk cache
.cache/

## Parcel's output for serving
example/out/

## PouchDB data
local/

## Jest Snapshots
__snapshots__/

## Jest Coverage
coverage/

## Visual Studio Code
.vscode

## Rollup
.rts2_cache_cjs